<div class="container-fluid">
  <div class="row justify-content-center no-gutter">
    <div class="container">
    </div>
    <div class="col-md-6">
      <div class="login d-flex align-items-center">
        <!-- Demo content-->
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7">
              <!-- <h3 class="alert alert-secondary" role="alert">Lets get started</h3> -->
              <div
                class="
                  d-flex
                  align-items-center
                  justify-content-center
                  pb-4
                  pt-3
                "
              >
                <img
                  src="../../assets/fuuast logo.png"
                  width="100px"
                  height="auto"
                  alt=""
                />
              </div>
              <form>
                <div class="form-group mb-3">
                  <input
                    id="inputEmail"
                    type="email"
                    placeholder="Email address"
                    required=""
                    autofocus=""
                    class="form-control rounded-pill border-0 shadow-sm px-4"
                  />
                </div>
               

                <div class="form-group mb-3">
                  <input
                    id="inputPassword"
                    type="password"
                    placeholder="Password"
                    required=""
                    class="
                      form-control
                      rounded-pill
                      border-0
                      shadow-sm
                      px-4
                      text-primary
                    "
                  />
                </div>
                <div class="custom-control custom-checkbox mb-3">
                  <input
                    id="customCheck1"
                    type="checkbox"
                    checked
                    class="custom-control-input"
                  />
                  <label for="customCheck1" class="custom-control-label"
                    >Remember password</label
                  >
                </div>

                <button
                  type="submit"
                  class="
                    btn btn-success btn-block
                    text-uppercase
                    mb-2
                    rounded-pill
                    shadow-sm
                  "
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                >
                  Sign In!
                </button>
              </form>
            </div>
          </div>
        </div>
        <!-- End -->
      </div>
    </div>
    <!-- End -->
  </div>
</div>
